@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'var(--font-kanit)';
  }

  h1 {
    @apply text-4xl;
    @apply font-bold;
  }
  h2 {
    @apply text-3xl;
    @apply font-bold;
  }
  h3 {
    @apply text-2xl;
    @apply font-bold;
  }
  h4 {
    @apply text-xl;
    @apply font-semibold;
  }
}

@layer components {
  .btn-light {
    @apply border border-solid border-primary-light text-primary-light;
  }

  .btn-dark {
    @apply border border-solid border-primary-dark text-primary-dark;
  }
}

:root {
  --primary-light: #235186;
  --secondary-light: #f1f1f1;
  --primary-dark: #536162;
  --secondary-dark: #f3f4ed;
  --link: #8fc1ff;
}

#light {
  color: #235186;
  background-color: #f1f1f1;
}

#dark {
  color: var(--primary-dark);
  background-color: var(--secondary-dark);
}

/* ---------------------------- Ant design custom --------------------------- */
.ant-switch:hover {
  background: var(--link) !important;
}
.ant-switch {
  background: var(--primary-light);
}
.ant-switch-checked {
  background: var(--primary-dark) !important;
}

.ant-menu {
  transition: none;
}

.ant-menu-horizontal {
  border: 0;
}
